<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">
	<bean id="root" abstract="true">

	</bean>
	<bean id="child" class="com.lin.services.ChildService" parent="root">
	</bean>

	<bean id="beanService" class="com.lin.services.BeanService"/>
	<alias name="beanService" alias="beanService2"/>
	<alias name="beanService" alias="beanService3"/>
</beans>